*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.app{
  /* border: 2px solid yellow; */
  padding: 2rem;
  /* background-color: #000; */
  background-image: url('./img/black2.jpg');
  overflow-x: hidden;
}

main{
  /* border: 2px solid red; */
  padding: 2rem;
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(4, 27, 4);
  border-radius: 10px;
}

/* ______________________________________media queries____________________________________________ */

@media (min-width : 0px) and (max-width : 1500px) {

  .app{
    padding: 2rem 0 0 0;
  }

  main{
    padding: 0.7rem 0.7rem 10rem 0.7rem;
    width: 90vw;
    margin: 1rem auto;
  }
}















